extends ../layout

block content
  .row
    .col-md-8.col-sm-12
      h1 Vagas
      table.table.table-striped.table-hover
        thead
          tr
            th Nome do setor
            th Identificação da vaga
            th.center Estado da vaga
            th.center Última atualização
            th.actions Ações
        tbody
          for box in boxes
            tr(class=(box.occupied) ? 'text-muted' : '')
              td= (box.sector) ? box.sector.name : ''
              td Box #{box.id} (Drone #{box.droneId})
              td.center
                if box.occupied
                  i.glyphicon.glyphicon-ban-circle
                  |&nbsp;Ocupado
                else
                  i.glyphicon.glyphicon-ok-circle.text-success
                  |&nbsp;Livre
              td.center= moment(box.updated).format("DD/MM/YYYY hh:mm:ss")
              td.actions
                a(href="/boxes/edit/#{box._id}").btn.btn-xs: i.glyphicon.glyphicon-pencil
                a(href="/boxes/delete/#{box._id}").btn.btn-xs: i.glyphicon.glyphicon-trash

    .col-md-4
      h2 Ações
      ul.nav.nav-pills.nav-stacked
        li(role="presentation").active
          a(href="/boxes/index")
            i.glyphicon.glyphicon-list
            |&nbsp;Listar
