extends ../layout

block content
  div.jumbotron
    h1= title
    span
      | Seja bem-vindo ao #{title}. Com esse pequeno experimento, queremos demonstrar que é
      | possível <strong>ter controle</strong> de seu estacionamento.

  section#sector-dashboard
    .row
      for sector in sectors
        .col-md-6.col-sm-12
          .panel(class=sector.panel_class, data-id=sector._id)
            .panel-heading
              .vagas-setores.img-circle(class=sector.status, data-binding="status") #{sector.available}
              h4= sector.name
            .panel-body
              | #{sector.description}
